<div class="mt-4 mb-4 text-xl text-center text-blue-500">Find whatever you want from the <br>magical world of Harry Potter.
  <p class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-blue-800 ml-2 font-bold text-xl"></p>
</div>

<div
data-aos="fade-up"
data-aos-anchor-placement="bottom-bottom"
class="h-[100vh]  grayscale hover:grayscale-0 spell bg-center bg-no-repeat sm:p-5 m-2 rounded-3xl text-yellow-400 bg-[url('/spell.jpg')] flex items-center justify-center overflow-hidden shadow-2xl">
  <div class="opacity-55 border maraunder rounded-xl border-gray-950 p-4 bg-amber-100  px-2 sm:px-6 bg-[url('/R.jpeg')] grayscale bg-cover bg-left-top hover:bg-right bg-no-repeat">
    <div class="h-72 flex justify-center place-items-end gap-3 mt-3">
      <!-- Left Section: Text Content -->

    </div>
  </div>
</div>
