<div class="mt-4 mb-4 text-xl text-center text-blue-500">Find whatever you want from the <br>magical world of Harry Potter.
  <p class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-blue-800 ml-2 font-bold text-xl"></p>
</div>

<div
data-aos="fade-up"
data-aos-anchor-placement="bottom-bottom"
class="h-[100vh]  grayscale hover:grayscale-0 spell bg-center bg-no-repeat sm:p-5 m-2 rounded-3xl text-yellow-400 bg-[url('/spell.jpg')] flex items-center justify-center overflow-hidden shadow-2xl">
  <div class="opacity-55 border maraunder rounded-xl border-gray-950 p-4 bg-amber-100  px-2 sm:px-6 bg-[url('/R.jpeg')] grayscale bg-cover bg-left-top hover:bg-right bg-no-repeat">
    <div class="h-52 flex justify-center place-items-end gap-3 mt-3">
      <!-- Left Section: Text Content -->
       <button class="bg-blue-500 w-24 h-10 text-sm opacity-65 hover:opacity-100 text-blue-950"> <a href="https://www.trip.com/travel-guide/attraction/osaka/the-wizarding-world-of-harry-potter-18699624?locale=en-xx&curr=usd&allianceid=742331&sid=110365067&ppcid=ckid-45827024479_adid-73598878561910_akid-kwd-73599060580443_adgid-1177578769509973&utm_source=bing&utm_medium=cpc&utm_campaign=485758640&msclkid=a60e8e27040319a123c3e6c187f71ee9"></a></button>
         <button class="bg-blue-500 w-24  h-10 text-sm opacity-65 hover:opacity-100 text-blue-950"><a href="https://mundo-potter.com/"></a>Explore more</button>
    </div>
  </div>
</div>
