<div class="flex difuminado flex-col justify-center  text-black p-3" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
  <span class="text-2xl mt-5 text-center title3 mb-8"></span>

  <div class="flex flex-wrap justify-center gap-4 ">
    <!-- Primer libro -->
    <div
      class="relative w-36 h-40fondoGranito  rounded-md border-dotted border-2 border-blue-400 mx-auto cursor-pointer shadow-md"
      data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <img src="libro4.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md filter peliImage" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-blue-50 bg-opacity-75 py-0">
        <p class="text-blue-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/ebQT6AL">Harry Potter</a>
        </p>
      </div>
    </div>

    <!-- Segundo libro -->
    <div
      class="relative w-36 h-40 fondoGranito rounded-md border-dotted border-2 border-blue-400 mx-auto cursor-pointer shadow-md animate-fade-in-up"
      data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <img src="libro2.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md peliImage" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-blue-50 bg-opacity-75 py-0">
        <p class="text-blue-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/fqOibWN">Harry Potter</a>
        </p>
      </div>
    </div>

    <!-- Tercer libro -->
    <div
      class="relative w-36 h-40 fondoGranito  rounded-md border-dotted border-2 border-blue-400 mx-auto cursor-pointer shadow-md animate-fade-in-up"
      data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <img src="libro3.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md peliImage" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-blue-50 bg-opacity-75 py-0">
        <p class="text-blue-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/6Nd5gkA">Harry Potter</a>
        </p>
      </div>
    </div>

    <!-- Cuarto libro -->
    <div
      class="relative w-36 h-40 fondoGranito  rounded-md border-dotted border-2 border-blue-400 mx-auto cursor-pointer shadow-md animate-fade-in-up"
      data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <img src="/Harry Potter y el cáliz de fuego(2000).webp"
        class="absolute inset-0 w-full h-full object-cover object-top rounded-md peliImage" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-blue-50 bg-opacity-75 py-0">
        <p class="text-blue-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/6Nd5gkA">Harry Potter</a>
        </p>
      </div>
    </div>

    <!-- Quinto libro -->
    <div
      class="relative w-36 h-40 fondoGranito  rounded-md border-dotted border-2 border-blue-400 mx-auto cursor-pointer shadow-md animate-fade-in-up"
      data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <img src="Harry Potter y la Ordem deñ femox.webp"
        class="absolute inset-0 w-full h-full object-cover object-top  rounded-md peliImage" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-blue-50 bg-opacity-75 py-0">
        <p class="text-blue-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/chiK0O7">Harry Potter</a>
        </p>
      </div>
    </div>

    <!-- Sexto libro -->
    <div
      class="relative w-36 h-40 fondoGranito  rounded-md border-dotted border-2 border-blue-400 mx-auto cursor-pointer shadow-md animate-fade-in-up"
      data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <img src="harry_potter_y_el_misterio_del_principe.jpg"
        class="absolute inset-0 w-full h-full object-cover rounded-md peliImage" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-blue-50 bg-opacity-75 py-0">
        <p class="text-blue-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/chiK0O7">Harry Potter</a>
        </p>
      </div>
    </div>

    <!-- Séptimo libro -->
    <div
      class="relative w-36 h-40 fondoGranito  rounded-md border-dotted border-2 border-blue-400 mx-auto cursor-pointer shadow-md animate-fade-in-up"
      data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
      <img src="HarryPotter y las Reliquias de muertewebp.webp"
        class="absolute inset-0 w-full h-full object-cover rounded-md peliImage" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-blue-50 bg-opacity-75 py-0">
        <p class="text-blue-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/chiK0O7">Harry Potter</a>
        </p>
      </div>
    </div>
  </div>
</div>
