
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

body{
  background-image: url("/pexels-tamanna-rumee-52377920-7985827.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
